Package: com.phillipt.unlockchanger
Name: UnlockChanger
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Tweak which changes your ‘slide to unlock’ text
Maintainer: mfok
Author: mfok
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 152
