<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>nl.mfok.unlockchanger~prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>nl.mfok.unlockchanger~prefs</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>Slider Text:</string>
			<key>placeholder</key>
			<string>slide to unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Voetnootje</string>
			<key>label</key>
			<string>Settings groep 2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>nl.mfok.unlockchanger~prefs</string>
			<key>key</key>
			<string>text2</string>
			<key>label</key>
			<string>Slider Text2:</string>
			<key>placeholder</key>
			<string>slide to unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>nl.mfok.unlockchanger~prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ButtonsPerPage</string>
			<key>label</key>
			<string>Switches Per Page</string>
			<key>validTitles</key>
			<array>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
				<string>Five</string>
				<string>Six</string>
				<string>Unpaged</string>
				<string>Test</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>UnlockChangerTitle</string>
</dict>
</plist>
